body {
    display: grid;
    justify-items: center;
    margin: 0
}
.container {
    height: 100vh;
    display: grid;
    width: 60%;
    align-self: center;
    justify-items: center;

}

.top-banner {
    width: 100%;
    background: rgb(153,188,234);
}

.card {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
}

